@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

.modal {
    position: absolute;
    font-family: 'Mulish', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: #4F4F4F66;
}

.filtermodal {
    height: max-content;
    padding: 40px 0;
    padding-top: 60px;
    background-color: #fff;
}

.filtermodal__btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border-radius: 16px;
    box-shadow: 0px 1px 6px 0px #0000001A;
    width: 90%;
    height: 55px;
    margin: auto;
}

.filtermodal__btn {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.filtermodal__btn:hover {
    background-color: #e6e6e61a;
    border-radius: 16px;
}

.activeFilter {
    border: 1px solid #000;
    border-radius: 16px;
    height: 100%;
}

.filtermodal__btn__b {
    font-size: 9px;
    margin-left: 20px;
    font-weight: 800;
}

.filtermodal__btn__p {
    margin-left: 20px;
    font-size: 14px;
    color: #BDBDBD;
    line-height: 0;
}

.filtermodal__btn__p b {
    color: #333333;
    font-weight: 400;
}

.filtermodal__searchbtn {
    cursor: pointer;
    background-color: #EB5757;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    height: 100%;
    width: 126px;
}

.filtermodal__searchbtn:hover {
    background-color: #EB5757E5;
}

/* functionalities styles */

.functionalities__container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.location__container {
    grid-column-start: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.location__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4F4F4F;
    font-size: 14px;
    cursor: pointer;
}

.location__item:hover {
    color: #000;
}

.guest__container {
    grid-column-start: 2;
    margin-top: 50px;
}

.guest__title {
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    line-height: 0;
}

.guest__desc {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
}

.guest__btncontainer {
    display: flex;
    gap: 20px;
    height: 23px;
    align-items: center;
    margin-top: 24px;
}

.guest__btn {
    background-color: #fff;
    color: #828282;
    border: 1px solid #828282;
    border-radius: 4px;
    display: flex;
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.guest__btn span {
    font-size: 16px;
}

.guest__quantity {
    color: #333333;
    font-size: 14px;
}

.hide {
    display: none;
}

.search__btn {
    display: none;
}

@media screen and (max-width: 520px) {
    .filtermodal__searchbtn {
        display: none;
    }

    .filtermodal__btns {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .filtermodal__btn {
        border: 1px solid #F2F2F2;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .activeFilter {
        border: none;
    }

    .functionalities__container {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .guest__container {
        grid-column-start: 1;
        margin-left: 20px;
        margin-top: 30px;
    }

    .search__btn {
        display: block;
        margin-top: 40px;
        justify-self: center;
        cursor: pointer;
        background-color: #EB5757;
        border: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        height: 48px;
        width: 115px;
    }

    .search__btn:hover {
        background-color: #EB5757E5;
    }
}