@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #333;
  font-size: 24px;
}

.staysquantity {
  color: #4F4F4F;
  font-size: 14px;
  cursor: pointer;
}
.staysquantity:hover {
  color: #000;
}

.apartment__container {
  display: grid;
  justify-items: center;
  gap: 50px 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1315px) {
  .apartment__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: auto;
  }
}

@media screen and (max-width: 895px) {
  .main {
    width: 95%;
  }

  .title {
    font-size: 18px;
  }

  .apartment__container {
    grid-template-columns: 1fr;
  }
}
